%rebase('osnova.html', naslov='Tabela avtov')


<form action="/avto_prijavljen/dodaj" method="post">
  <span>Id:</span> <input name="id" type="text" />
  <span>Barva:</span> <input name="barva" type="text" />
  <span>Tip:</span> <input name="tip" type="text" />
  <span>Znamka:</span> <input name="znamka" type="text" />
  <span>Cena:</span> <input name="cena" type="float(2)" />
  <span>Stanje:<select name="novi">
    <option value="true">Nov</option>
    <option value="false">Star</option>
  </select>
  <input value="Dodaj" type="submit" />
</form>

<table cellpadding="0" cellspacing="2" border="1">
  <tr>
      <th>Id</th>
      <th>Barva</th>
      <th>Tip</th>
      <th>Znamka</th>
      <th>Cena</th>
      <th>Ali je nov</th>
  </tr>
  %for (id,barva,tip,znamka,cena,novi) in avto:
      <tr>
          <td>{{id}}</td>
          <td>{{barva}}</td>
          <td>{{tip}}</td>
          <td>{{znamka}}</td>
          <td>{{cena}}</td>
          <td>{{novi}}</td>
      </tr>
  %end
</table>

