%rebase('zacetna.html', naslov=naslov, uporabnik=uporabnik)

<!-- PRIPRAVA, NOVI-->
<table cellpadding="0" cellspacing="2" border="1">
    <tr>
        <th>Id</th>
        <th>Barva</th>
        <th>Tip</th>
        <th>Znamka</th>
        <th>Leto izdelave</th>
        <th>Cena</th>
    </tr>
    %for (id,pripravljen,barva,tip,znamka,cena,leto_izdelave,novi) in avto:
        <tr>
            <td>{{id}}</td>
            <td>{{barva}}</td>
            <td>{{tip}}</td>
            <td>{{znamka}}</td>
            <td>{{leto_izdelave}}</td>
            <td>{{cena}}</td>
        </tr>
    %end
</table>

