%rebase('osnova.html', naslov='Tabela avtov')

<!-- <form action="/avto/dodaj" method="post">
    <span>Id:</span> <input name="id" type="text" />
    <span>Barva:</span> <input name="barva" type="text" />
    <span>Tip:</span> <input name="tip" type="text" />
    <span>Znamka:</span> <input name="znamka" type="text" />
    <span>Cena:</span> <input name="cena" type="integer" />
    <span>Ali je nov:</span> <input name="novi" type="text" />
    <input value="Dodaj" type="submit" />
</form> -->

<table cellpadding="0" cellspacing="2" border="1">
    <tr>
        <th>Id</th>
        <th>Barva</th>
        <th>Tip</th>
        <th>Znamka</th>
        <th>Cena</th>
    </tr>
    %for (id,barva,tip,znamka,cena,novi) in avto:
        <tr>
            <th>{{id}}</th>
            <th>{{barva}}</th>
            <th>{{tip}}</th>
            <th>{{znamka}}</th>
            <th>{{cena}}</th>
        </tr>
    %end
</table>

