%rebase('osnova.html', naslov='Podatki servisa')

<form action="/avto_prijavljen/dodaj_servis" method="post">
    <p>Tip servisa:
        <select id="izberi_tip" name="Mali servis">
            <option id="mali" value="true">Mali servis</option>
            <option id="večji" value="false">Večji servis</option>
            <option id="velik" value="false">Velik servis</option>
        </select>
    </p>
    <p>datum: </span> <input name="datum" type="date" required /></p>
    <p>Id zaposlenega: </span> <input name="tip" type="text" required /></p>
    <p>Tip zaposlenega: </span> <input name="tip_zaposlenega" type="text" required /></p>
    <input type="submit" value="Shrani"></input>
</form>