%rebase('osnova.html', naslov='Podatki o prpravi')

<form action="/avto_prijavljen/dodaj_pripravo" method="post">
    <input type="text" name="id_avta" hidden value={{id}}>
    <p>Datum:</span> <input name="datum" type="date" required /></p>
    <p>Prodajalec:
        <select name="Serviser" required>
            <option value="null" selected>Izberite serviserja</option>
            %for z in zaposleni:
                <option value="{{z[0]}}">{{z[1]}}</option>   
            %end
        </select>
    </p>
    <input type="submit" value="Shrani"></input>
</form>

<table cellpadding="0" cellspacing="2" border="1">
    <tr>
        <th>Id</th>
        <th>Id avta</th>
        <th>Id zaposlenega</th>
    </tr>
    %for (id, id_avta, id_zaposlenega) in priprava:
        <tr>
            <td>{{id}}</td>
            <td>{{id_avta}}</td>
            <td>{{id_zaposlenega}}</td>

        </tr>
    %end
</table>