%rebase('zacetna.html', naslov="Podatki o pripravi avtomobilov", uporabnik=uporabnik, registracija=registracija, napaka=napaka, status=status)

<!-- PRIPRAVA -->

<table class="table table-striped zgornja_meja_tabele" cellpadding="0" cellspacing="2" border="1">
    <tr>
        <th>Id</th>
        <th>Id avta</th>
        <th>Datum</th>
        <th>Id zaposlenega</th>
    </tr>
    %for (id, id_avta, datum, id_zaposlenega) in priprava:
        <tr>
            <td>{{id}}</td>
            <td>{{id_avta}}</td>
            <td>{{datum}}</td>
            <td>{{id_zaposlenega}}</td>

        </tr>
    %end
</table>
