%rebase('zacetna.html', naslov="Podatki o servisu avtomobilov", uporabnik=uporabnik, registracija=registracija, napaka=napaka, status=status)

%if status == 1 or status == 2:
    <!-- SERVIS -->
    <table class="table table-striped zgornja_meja_tabele" cellpadding="0" cellspacing="2" border="1">
        <tr>
            <th>Id</th>
            <th>Id avta</th>
            <th>Datum</th>
            <th>Tip servisa</th>
            <th>Id zaposlenega</th>
        </tr>
        %for (id, id_avta, datum, tip_servisa, id_zaposlenega) in servis:
            <tr>
                <td>{{id}}</td>
                <td>{{id_avta}}</td>
                <td>{{datum}}</td>
                <td>{{tip_servisa}}</td>
                <td>{{id_zaposlenega}}</td>

            </tr>
        %end
    </table>
%else:
    <div id="napaka_prijavljeni5" class="alert alert-danger" style="display: -ms-grid;" role="alert">
    Prosimo prijavite se z ustreznim statusom!
    </div>
%end