<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ROOT}}static/stili.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  <title>{{naslov}}</title>
</head>
<header>
  <div style="background-color: #73b4da;">
    <img src="https://raw.githubusercontent.com/larajagodnik/Avtohisa/master/avtohisa.jpg" alt="Avtohisa">
 
  </div>
  
  <!-- <div class="header_r">
    <a href="#default" class="logo">Avtohiša krneki </a>
    <div class="header-right">
      <a class="active" href="#home">Home</a>
      <a style="cursor: pointer;" onclick="openNav()">Menu</a>
      <a href="#about">About</a>
    </div>
  </div> -->
</header>
<script src="/static/index.js"></script>
<body>
%if napaka != None:
  %if napaka == 'Registracija upešna!':
    <div style="background-color: green; padding: 10px;"><p style="color: white; text-align: center; font-size: 20px;">{{napaka}}</p></div>
  %else:
    <div style="background-color: red; padding: 10px;"><p style="color: white; text-align: center; font-size: 20px;">{{napaka}}</p></div>
  %end
%end
<div class="oblivanje"></div> 
<section>
    <!--
    <navigacija>
      <ul>
        <li><div><b><a href="{{ROOT}}avto/vsi">Seznam vseh avtov</a></b></div></li>
        <li><div><b><a href="{{ROOT}}avto/novi">Seznam novih avtov</a></b></div></li>
        <li><div><b><a href="{{ROOT}}avto/rabljeni">Seznam rabljenih avtov</a></b></div></li>
        %if uporabnik:
        <li><div><b><a href="{{ROOT}}avto/priljubljeni">Seznam priljubljenih avtov</a></b></div></li>
        %end
      </ul>
    </navigacija>
     -->
     
    <za_tabele>
      <h1>{{naslov}}</h1>
      <!--<p>Nekak spravmo tabelo sem za avte :) Kao nekaj na tako sceno.</p>
      <iframe id="povezava" src="{{ROOT}}avto/vsi" width="100%" height="100%"></iframe> -->
      {{!base}}
    </za_tabele>
    <navigacija1 style="margin-top: 56px; background-color: #73b4da;">
      %if uporabnik == None:
        %if registracija == None:
          <form action="/prijava" method="post"  id="prijava">
            <div>
              <label for="username"><b>Uporabniško ime</b></label>
              <input type="text" placeholder="Vpišite uporabniško ime" name="username" required>
            
              <label for="password"><b>Vpišite geslo</b></label>
              <input type="password" placeholder="Vpišite geslo" name="password" required>
              <button class="btn" type="submit">Prijava</button>
              <a class="btn btn-info" href="{{ROOT}}registracija">Registriraj se</a>
            </div>
          </form>
        %else:
          <form action="/registracija" method="post"  id="registracija">
            <div>
              <label for="username"><b>Ime</b></label>
              <input type="text" placeholder="Vpišite vaše ime" name="username1" required>

              <label for="username"><b>Priimek</b></label>
              <input type="text" placeholder="Vpišite vaš priimek" name="username2" required>

              <label for="username"><b>Uporabniško ime</b></label>
              <input type="text" placeholder="Vpišite uporabniško ime" name="username" required>
            
              <label for="password"><b>Vpišite geslo</b></label>
              <input type="password" placeholder="Vpišite geslo" name="password1" required>

              <label for="password"><b>Ponovno vpišite geslo</b></label>
              <input type="password" placeholder="Vpišite geslo" name="password2" required>

              <button type="submit">Registracija</button>
              <a href="{{ROOT}}za_prijavo">Prijavi se</a>
            </div>
          </form>
        %end
      %else:
      <ul>
        <li><div><b><a href="{{ROOT}}avto_prijavljen">Upravljaj avte</a></b></div></li>
        <ul style="padding: 0px; padding-left: 30px; padding-top: 10px; list-style-type: square;">
          <li><div style="padding-top: 0px;"><b><a href="#" onclick="myFunction()">Dodaj avto</a></b></div></li>
        </ul>
        <li><div><b><a href="{{ROOT}}zaposleni">Poglej zaposlene</a></b></div></li>
        <li>Status stopnje: {{status}}</li> <!-- ta zadeva se bo zbrisala pol!-->
      </ul>
      %end
    </navigacija1>

</section>


<footer>
  %if uporabnik:
    <p>Pozdravljeni {{uporabnik}}!</p>
    <p>Če se želite odjaviti, kliknite: <a href="{{ROOT}}odjava">ODJAVA</a></p>
  %else:
    <p>Dobrodošli na naši strani, prosimo prijavite se!</p>
  %end
</footer>

<!--<script>
  function Nastavi_povezavo() {
    document.getElementById("naslov").innerHTML = "Vsi avtomobili"
    document.getElementById("povezava").src = "{{ROOT}}avto/vsi";
  }
  function Nastavi_povezavo_novi() {
    document.getElementById("naslov").innerHTML = "Novi avtomobili"
    document.getElementById("povezava").src = "{{ROOT}}avto/novi";
  }
  function Nastavi_povezavo_rabljeni() {
    document.getElementById("naslov").innerHTML = "Rabljeni avtomobili"
    document.getElementById("povezava").src = "{{ROOT}}avto/rabljeni";
  }

</script> -->

<script>
  function myFunction() {
  var myWindow = window.open("{{ROOT}}avto_prijavljen/dodaj", "", 
  "top=200,left=500,width=370px,height=500,height=450");
}
</script>

</body>
</html>
