<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
  <!-- Knljižnica za ikono home button -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  <title>{{naslov}}</title>
</head>
<header>
  <div style="background-color: #73b4da;">
    <img src="https://raw.githubusercontent.com/larajagodnik/Avtohisa/master/avtohisa.jpg" alt="Avtohisa">
    <h1>Avtohiša LaJa</h1> 
  </div>
</header>

<script src="/static/index.js"></script>

<body>

<!-- opozorilo o neuspešni registraciji -->
%if napaka != None:
  %if napaka == 'Registracija upešna!':
  <div id="uspesna_prijava" class="alert alert-success" role="alert" >
    {{napaka}}
  </div>
  %else:
  <div id="neuspesna_prijava" class="alert alert-danger" role="alert">
    {{napaka}}
  </div>
  %end
%end

<section>

    <za_tabele>
      <h2>{{naslov}}</h2>
      {{!base}}
    </za_tabele>
    <navigacija1>

      <!-- če še nisi prijavljen in nisi registriran je v navigaciji moznost prijave in gumb za registracijo -->
      %if uporabnik == None:
        %if registracija == None:
          <form action="/prijava" method="post"  id="prijava">
            <div>
              <label for="username"><b>Uporabniško ime</b></label>
              <input type="text" placeholder="Vpišite uporabniško ime" name="username" required>
            
              <label for="password"><b>Vpišite geslo</b></label>
              <input type="password" placeholder="Vpišite geslo" name="password" required>
              <button class="btn" type="submit">Prijava</button>
              <a class="btn btn-info" style="background-color: #24437b;" href="{{ROOT}}registracija">Registriraj se</a>
            </div>
          </form>

        <!-- ce je izbrana moznost registracije, se pojavi forma za registracijo in gumb za prijavo -->
        %else:
          <form action="/registracija" method="post"  id="registracija">
            <div>
              <label for="username"><b>Ime</b></label>
              <input type="text" placeholder="Vpišite vaše ime" name="username1" required>

              <label for="username"><b>Priimek</b></label>
              <input type="text" placeholder="Vpišite vaš priimek" name="username2" required>

              <label for="username"><b>Uporabniško ime</b></label>
              <input type="text" placeholder="Vpišite uporabniško ime" name="username" required>
            
              <label for="password"><b>Vpišite geslo</b></label>
              <input type="password" placeholder="Vpišite geslo" name="password1" required>

              <label for="password"><b>Ponovno vpišite geslo</b></label>
              <input type="password" placeholder="Vpišite geslo" name="password2" required>

              <button class="btn btn-secondary" style="background-color: #f2f2f2; color:black" type="submit">Registracija</button>
              <a href="{{ROOT}}za_prijavo">Prijavi se</a>
            </div>
          </form>
        %end

      <!-- vprimeru ko smo prijavljeni -->
      %else:
        <!-- lastnik vidi vse -->
        %if status == 1:
          <ul>
            <li><div><b><a href="{{ROOT}}">
              <button class="btn" style="background-color:blue; color:white;"><i class="fa fa-home"></i> Domov</button>
            </a></b></div></li>
            
            <li><div><b><a href="{{ROOT}}avto_prijavljen">Upravljaj avte</a></b></div></li>
            <li><div><b><a href="{{ROOT}}avto_prijavljen/dodaj">Dodaj avto</a></b></div></li>
            <li><div><b><a href="{{ROOT}}zaposleni">Poglej zaposlene</a></b></div></li>
            <li><div><b><a href="{{ROOT}}zaposleni/dodaj">Dodaj zaposlenega</a></b></div></li>
            <li><div><b><a href="{{ROOT}}servis">Podatki o servisu</a></b></div></li>
            <li><div><b><a href="{{ROOT}}priprava">Podatki o pripravi</a></b></div></li>
            <li><div><b><a href="{{ROOT}}prodaja_tabela">Podani avtomobili</a></b></div></li>
          </ul>
        %end

        <!-- zaposleni nima možnosti dodajati avta in pogledati ali dodati zaposlenih;
          lahko upravlja avte in gleda podatke o servisu/pripravi -->
        %if status == 2:
          <ul>
            <li><div><b><a href="{{ROOT}}">
              <button class="btn" style="background-color:blue; color:white;"><i class="fa fa-home"></i> Domov</button>
            </a></b></div></li>

            <li><div><b><a href="{{ROOT}}avto_prijavljen">Upravljaj avte</a></b></div></li>
            <li><div><b><a href="{{ROOT}}servis">Podatki o servisu</a></b></div></li>
            <li><div><b><a href="{{ROOT}}priprava">Podatki o pripravi</a></b></div></li>
            <li><div><b><a href="{{ROOT}}prodaja_tabela">Podani avtomobili</a></b></div></li>
          </ul>
        %end

        <!-- registrirani uporabnik ina možnost dodajati med priljubljene in pogledati svoje priljubljene avtomobile -->
        %if status == 3:
        <ul>
          <li><div><b><a href="{{ROOT}}">
            <button class="btn" style="background-color:blue; color:white;"><i class="fa fa-home"></i> Domov</button>
          </a></b></div></li>

          <li><div><b><a href="{{ROOT}}avto/priljubljeni">Seznam priljubljenih avtov</a></b></div></li>
        </ul>
        %end
      %end
    </navigacija1>

</section>

<!-- če si prijavljen te podzdravi in ponudi moznost odjave; sicer pozove da se prijaviš -->
<footer class="noga">
  %if uporabnik:
    <p>Pozdravljeni {{uporabnik}}!</p>
    <p>Če se želite odjaviti, kliknite: <a href="{{ROOT}}odjava">ODJAVA</a></p>
  %else:
    <p>Dobrodošli na naši strani, prosimo prijavite se!</p>
  %end
</footer>

</body>
</html>

<link rel="stylesheet" type="text/css" href="{{ROOT}}static/stili.css" />