%rebase('osnova.html', naslov='Tabela zaposlenih')

<table cellpadding="0" cellspacing="2" border="1">
    <tr>
        <th>Id zaposlenega</th>
        <th>Ime</th>
        <th>Tip zaposlenega</th>
        <th>Placa</th>
        <th>Telefon</th>
        <th>Naslov</th>
    </tr>
    %for (id_zaposlenega,tip_zaposlenega,ime,telefon,placa,naslov) in zaposleni:
        <tr>
            <td>{{id_zaposlenega}}</td>
            <td>{{ime}}</td>
            <td>{{tip_zaposlenega}}</td>
            <td>{{placa}}</td>
            <td>{{telefon}}</td>
            <td>{{naslov}}</td>
        </tr>
    %end
</table>

