%rebase('zacetna.html', naslov='Dodaj novega zaposlenega', uporabnik=uporabnik, registracija=registracija, napaka=napaka, status=status)

<form action="/zaposleni/dodaj" method="post" style="width:50%;">
<div class="form-group row">
    <label for="Id_zaposlenega" class="col-sm-2 col-form-label">Id:</label>
    <div class="col-sm-10">
      <input name="Id_zaposlenega" type="text" class="form-control" required />
    </div>
    
    <label for="tip" class="col-sm-2 col-form-label">Tip zaposlenega:</label> 
    <div class="col-sm-10">
      <input name="tip" type="text" class="form-control" required />
    </div>

    <label for="ime" class="col-sm-2 col-form-label">Ime in priimek:</label> 
    <div class="col-sm-10">
      <input name="ime" type="text" class="form-control" required />
    </div>

    <label for="telefon" class="col-sm-2 col-form-label">Telefonska številka:</label>
    <div class="col-sm-10">
      <input name="telefon" type="text" class="form-control" style="padding:12px 20px; margin:8px 0px;" required/>
    </div> 

    <label for="placa" class="col-sm-2 col-form-label">Plača:</label>
    <div class="col-sm-10">
      <input name="placa" type="number" min="0" step = ".01" lang="en" class="form-control" style="padding:12px 20px; margin:8px 0px;" required/>
    </div> 

    <label for="nalsov" class="col-sm-2 col-form-label">Naslov:</label> 
    <div class="col-sm-10">
      <input name="naslov" type="text" class="form-control" required />
    </div>
</div>
<input class="btn btn-secondary" style="background-color: #f2f2f2; color:black" value="Dodaj zaposlenega" type="submit" />
</form>

